POSTGRES_DB=howdidwegethere
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
HWDWGH_CONNECTION_STRING=Host=localhost;Port=5432;Database=howdidwegethere;Username=postgres;Password=postgres
VITE_API_BASE_URL=http://localhost:5141

